.shop-container{
    min-height: 500px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:0 5%;
    gap: 20px;
}

@media only screen and (max-width: 1000px) {
    .product-container{
        grid-template-columns: repeat(3,1fr);
        
    }
    .shop-container{
        grid-template-columns: 1fr;
    }
    .cart-container{
        display: none;
    }
}   
@media only screen and (max-width: 700px) {
    .product-container{
        grid-template-columns: repeat(2,1fr);
    }
 
}   
@media only screen and (max-width: 600px) {
    .product-container{
        grid-template-columns: 1fr;
    }
    
}   