:root{
    --nav_color: #CC9544;
    --nav_anchors_color: #1C0A00;
}
*{
    padding: 0;
    margin: 0;
}
.navbar-style{
    background-color: var(--nav_color);
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
.logo-style{
    margin-left: 7%;
}
.nav-anchors-container{
    margin-right: 7%;
}
.nav-anchors-container a{
    text-decoration: none;
    color:var(--nav_anchors_color);
    font-size: 18px;
    margin-right: 25px;
    font-weight: 600;
}